<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/libs/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin main page</title>
  <link rel="stylesheet" href="/css/admin/index.css">
  <%- include partials/loadercss %>
</head>

<body>
  <%- include partials/loader %>
  <div class="row main">
    <h3 class="center-align">Dashboard</h3>
    <div class="row">
        <div class='col s12 m3'>
            <ul class="collapsible popout">
              <li>
                <div class="collapsible-header">Users</div>
                <div class="collapsible-body">
                  <div class="clickMe" data-url="/user/signup">Add User</div>
                  <div class="clickMe" data-url="/user/delete">Delete User</div>
                  
                </div>
              </li>
              <li>
                <div class="collapsible-header">Products</div>
                <div class="collapsible-body">
                  <div class="clickMe" data-url="/add/products">Add Product</div>
                </div>
              </li>
              <li>
                <div class="collapsible-header">Recipes</div>
                <div class="collapsible-body">
                  <div class="clickMe" data-url="/add/recipe">Add Recipes</div>
                </div>
              </li>
              <li>
                <div class="collapsible-header">Instructions</div>
                <div class="collapsible-body">
                  <div class="clickMe" data-url="/add/instruction">Add Instructions</div>
                </div>
              </li>
              <li>
                 <div class="collapsible-header">Profile</div>
                <div class="collapsible-body">
                  <div class="clickMe" data-url="/user/changeInfo">Update</div>
                  <div class="clickMe " data-url="#" id="logout" >Logout</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col s12 m9">
            <div class="row">
              <div class="col s12" id="products-row">
                <!-- <h3>Products</h3> -->
              </div>
              <div class="col s12" id="recipes-row">
                <!-- <h3>Recipes</h3> -->
              </div>
              <div class="col s12" id="instructions-row">
                <!-- <h3>Instructions</h3> -->
              </div>
              <div class="col s12" id="request-row">
                <!-- <h3>Requests</h3> -->
              </div>
            </div>
          </div>
    </div>
    <div class="info"></div>
  </div>
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content product-content">
      <h4 class="black-text">Modal Header</h4>
      <p class="black-text">Are You Sure !!!</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect waves-green btn-flat agree-btn">Agree</a>
    </div>
  </div>
  <div id="modal2" class="modal">
    <div class="modal-content recipe-content">
      <h4 class="black-text">Modal Header</h4>
      <p class="black-text">Are You Sure !!!</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect waves-green btn-flat recipe-agree-btn">Agree</a>
    </div>
  </div>
  <div id="modal3" class="modal">
    <div class="modal-content instruction-content">
      <h4 class="black-text">Modal Header</h4>
      <p class="black-text">Are You Sure !!!</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect waves-green btn-flat instruction-agree-btn">Agree</a>
    </div>
  </div>
  <div style="display: none;" class="instructionId"></div>
  <%- include partials/errors %>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/libs/materialize.min.js"></script>
  <script src="/js/admin/index.js"></script>
</body>

</html>