<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Admin Login</title>
    </head>

    <body>
        <button id="forUsers">Manipulate User</button>
        <button id="addUser">addUser</button>
        <button id="removeUser">removeUser</button>
        <button id="modifyUser">modifyUser</button>
        <br>
        <button id="manipulateProducts">Manipulate Products</button>
        <button id="addProduct">addProduct</button>
        <button id="modifyProduct">modifyProduct</button>
        <button id="removeProduct">removeProduct</button>
        <br>
        <button id="manipulateInstructions">Manipulate Instructions</button>
        <button id="addInstruction">addInstruction</button>
        <button id="modifyInstruction">modifyInstruction</button>
        <button id="removeInstruction">removeInstruction</button>
        <br>
        <button id="manipulateReceipes">Manipulate Recipies</button>
        <button id="addReceipe">addReceipe</button>
        <button id="modifyRecipe">modifyRecipe</button>
        <button id="removeReciepe">removeReciepe</button>
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>
      <script src="/js/adminIndex.js"></script>
      <script src="/js/post.js"></script>
    </body>
  </html>