<header id="header">
<div class="container-fluid">

    <div id="logo">
        <h1><a href="/">DéliSpices</a></h1>
        
    </div>

    <nav id="nav-menu-container">
    <ul class="nav-menu">
        <li class="<%if (active == 'home') { %>menu-active<% } %>"><a href="/">Home</a></li>
        <li class="<%if (active == 'products') { %>menu-active<% } %>"><a href="/products">Products</a></li>
        <li class="<%if (active == 'aboutus') { %>menu-active<% } %>"><a href="/aboutus">About us</a>
        <li class="<%if (active == 'contact') { %>menu-active<% } %>"><a href="/contact">Contact</a></li>
        <li><a href="pdf/DeliSpices_Brochure_2018.pdf" target="_blank">Brochure</a></li>
    </ul>
    </nav><!-- #nav-menu-container -->
</div>
</header>