<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/libs/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Add Product</title>
      <link rel="stylesheet" href="/css/product/add.css">
      <%- include partials/loadercss %>
    </head>

    <body>
      
        <%- include partials/loader %>

        <div class="main container">
            <h3 class="center-align">Add Product</h3>
            <form id="productForm">
              <div class="input-field">
                <input type="text" id="name">
                <label for="name">Name</label>
              </div>
              <div class="input-field">
                <textarea id="description" class="materialize-textarea"></textarea>
                <label for="description">Description</label>
              </div>
              <div class="input-field">
                <input type="number" id="position">
                <label for="position">Position</label>
              </div>
              <div class="input-field">
                <input type="text" id="picture" readonly>
                <!-- <label for="picture">Picture</label> -->
              </div>

              <input id="submit-add-product" class="btn white-text" type="submit" value="Add Product">
            </form>

            <form id="picture-form" enctype="multipart/form-data" action="/upload/photo" method="POST" >
              <div class="file-field input-field">
              <div class="btn">
                <span>Picture</span>
                <input type="file" id="picture-file" name="productPhoto">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
             
              <input class="waves-effect waves-light btn" type="submit" id="upload-pic" value="Upload First">
            </form>
            <div class="info"></div>
        </div>

        <%- include partials/errors %>

      <!--JavaScript at end of body for optimized loading-->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/js/libs/materialize.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script> 
      <script src="/js/product/add.js"></script>
    </body>
  </html>

