<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/libs/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Add Product</title>
      <link rel="stylesheet" href="/css/product/delete.css">
      <%- include partials/loadercss %>
    </head>

    <body>
      
        <%- include partials/loader %>

        <div class="main container">
            <h3 class="center-align">Delete Product</h3>
            <div class="row">
                <form class="col s12" id="productDelete" style="display: none"></form>
            </div>
            
            <div class="info"></div>
        </div>  

        <%- include partials/errors %>

      <!--JavaScript at end of body for optimized loading-->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/js/libs/materialize.min.js"></script>
      <script src="/js/product/delete.js"></script>
    </body>
  </html>

