<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DéliSpices</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="images/logo.png" rel="icon">
  <link href="images/logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style-product.css" rel="stylesheet">
</head>

<body>

  <!--____________________________NAV_____________________________ -->
  <header id="header">
    <div class="container-fluid">

      <div id="logo">
         <h1><a href="index.html">DéliSpices</a></h1>
         
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li class="menu-active"><a href="products.html">Products</a></li>
          <li><a href="aboutus.html">About us</a>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="DeliSpices_Brochure_2018.pdf" target="_blank">Brochure</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #nav --> 


  <!--==========================
    PRODUCTS
  ============================-->

  <section id="products">
      <div class="container">
          <header class="section-header">
              <h3>Tikka Masala Gravy</h3>
            </header>
          <div class="row">
              
              <div class="col-lg-6" id="imgdesc">
                     
                  <img src="images/ProductImages/19.png" class="img-fluid">
              </div>
      
              <div class="col-lg-6" id="description">
                  <h3>Description:</h3>
                  <ul>
                      <li>
                                Déli Spices Tikka Masala Gravy is made with aromatic, exotic spices and cooked in a creamy, lightly spiced, tomato sauce that is just divine

                      </li>
                  </ul>
               </div>
          </div>

          <div class="row">
              <div class="col-lg-6" id="quotesection">
                  <h3> Get a Quick Quote</h3>
                  <form>
                      <div class="col-9">
                      <label for="form-group">Mobile Number:</label>
                      <input type="text" id="tf1" class="form-control" placeholder="Enter Mobile">
                      </div>
                      <br>
                      <div class="col-9">
                      <label for="form-group">Full Name:</label>
                      <input type="text" id="tf2" class="form-control" placeholder="Enter Name"> 
                      </div>
                      <br>
                      <div class="col-9">
                      <button type="submit" class="btn btn-success">Get Quote</button>
                      </div>
                  </form>
              </div>
  
              <div class="col-lg-6" id="samplesection">
                   <h3> Request a Free Sample</h3>
                   <form>
                      <div class="col-9">
                      <label for="form-group">Full Name:</label>
                      <input type="text" id="tf3" class="form-control" placeholder="Enter Full Name:">
                      </div>
  
                      <br>
                      <div class="col-9">
                      <label for="form-group">Mobile Number:</label>
                      <input type="text" id="tf4" class="form-control" placeholder="Enter Mobile Number:">
                      </div>
  
                      <br>
  
                      <div class="col-9">
                      <label for="form-group">Address:</label>
                      <br>
                      <textarea class="input1" id="tf5" rows="3" cols="35"></textarea>
                      </div>
                      <br>
  
                      <div class="col-9">
                      <button type="submit" class="btn btn-success">Request Sample</button>
                      </div>
                   </form>
              </div>
            </div>
          <div class="row">
          <div class="col-lg-12">
              
          <h3> Cooking instructions: </h3>
          <br>

          <ul>
            <li>
                        In a pan add 25 Gm oil & sauté 50 Gm chopped ginger and green chilies.
            </li>

            <li>
                        Add 1 Kg Chicken Tikka Masala Gravy and stir for two minutes.
            </li>

            <li>
                        Add 1 .5 Kg of barbecued chicken tikka pieces. Stir for two to three minutes.
            </li>

            <li>
                        Add 1 lit.water and boil it till required thickness.
            </li>

            <li>
                        Add 350 Gm cream and cook for a minute. 
                 
            </li>

            <li>
                 
                        Garnish with cream and chopped coriander.  
                 
            </li>
          </ul>
        
        </div>
      </div>


    </div>
    </section>

    <!-- #Footer -->

   <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong> 2018 Deli Spices & Namosri</strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- #footer -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
