<!DOCTYPE html>
<html>
<head>
  <% include includes/externel.ejs %>
  <!-- Main Stylesheet File -->
  <link href="css/style-intro.css" rel="stylesheet">


</head>
<body><br><br><br>

		<!--____________________________NAV_____________________________ -->
    <% include includes/header.ejs %>
    <!-- #nav --> 
 
 <section id="aboutussection">
  <div class="container">
    <div class="row">
    <div class="col-lg-7">
        <br>
        <br>
        <h3> DéliSpices is our House Brand </h3>
        <br>
        <br>
        <p>
            <b>
              Déli Spices is a house brand of Namosri Ventures Pvt. Ltd. (NVPL).<br>
               NVPL is specializing in high quality and innovative food brands serving primarily to Food Service sector. 
               We offer a comprehensive range of ingredients spread across segments of Coating, Breading, Seasonings, Marinades, Gravies, Sauces, Broths, Staples, Blended Spices, and Specialty Ingredients for Food Service as well as Food Industry applications including Bakery, Beverages, Snacks, Meat processing, Confectionery, Dairy. 
            </b>
  
        
    </div>

    <div class="col-lg-5">
   
            <img src="images/about.jpg" alt="" class="img-fluid">
          
    </div>
    

    <div class="row">
      <div class="col-lg-12">
          <br><br>

        <p>
          <b>
            Déli Spices uses highly-skilled Application Chefs’ and Production to create Indian product compositions that are rich and flavoursome. Our passion for great food has allowed us to develop an exhaustive product range in Déli Spices, to solve the issues involving Indian cuisine in kitchens across the world; wrt taste consistency, authenticity of flavours in geographies which may not have access to the same spices, recipes, culinary skills. 
          </b>
        </p>
        <p>
          <b>
              We have pan-India presence and through our international partners we serve in select countries.
          </b>
        </p>
        
        <p>
          <b>
            Why Déli Spices?
          </b>
        </p>
        <ul>
          <b>
          <li>
              Déli Spices goes beyond the functional problems and take care of your HoReCa business providing solutions as a partner
          </li>
          
          <li>
              We specialise in Customisations, Special Recipes & Private Label projects
          </li>
          
          <li>
              The products are flexible giving chefs the opportunity to play with our food service ingredients and create their own magic or create standard dishes where necessary, consistently.
          </li>
        </b>
        </ul>
        <br>
        <br>

      </div>


    </div>

  </div>
  </div>
  </section>
  
  <footer id="footer">
         <%include includes/footer.ejs%>
    </footer><!-- #footer -->



</body>
</html>