<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/externel.ejs %>

    <style>
      .loader{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #411717;
      }

      .hourGlass {
        display: inline-block;
        position: absolute;
        width: 150px;
        height: 150px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .hourGlass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 5px;
        box-sizing: border-box;
        border: 70px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1.2s infinite;
      }

      @keyframes lds-hourglass {
        0% {
          transform: rotate(0);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
          transform: rotate(900deg);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
          transform: rotate(1800deg);
        }
      }

      #intro{
        display: none;
      }

      #main{
        display: none;
      }

      #footer{
        display: none;
      }

      .back-to-top{
        display: none;
      }

      header{
        display: none;
      }

    </style>
</head>

<body>

    <div class="loader">
      <div class="hourGlass"></div>
    </div>

  <!--____________________________NAV_____________________________ -->
  <% include includes/header.ejs %>
  <!-- #nav --> 



   <!--____________________________Carousel_______________________________ -->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="images/sliders/1.jpg"></div>
            <div class="carousel-container">
              <div class="carousel-content" id="ccontent">
                <img src="bg-img/logo.png">
                <h2>Welcome to DeliSpices </h2>
                <p class="center">-  Indian  Culinary  Solutions</p>
                
              </div>
            </div>
          </div>

      </div>
    </div>
  </section>
      <!--____________________________#Carousel_____________________________ -->

  <main id="main">



    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Get to know Us</h3>
          </header>
          <div class="container" id="aboutcontainer">
              <div class="row">
                <div class="col-lg-6">
                  <br>
                  <br>
                  
                   <h1> &emsp;&emsp;&emsp;&emsp;DéliSpices</h1>
                   <br>
                    <p> <b><i>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                          Indian Culinary Solutions</i></b><br>
                          <br>

                  
              DéliSpices is an effort at recreating the magical taste of Indian cuisines by providing 
              the quintessential ingredient for cooking... 
              high quality spice blends, gravies, pastes, marinades & condiments.
              
                    </p>

                </div>
                <div class="col-lg-6">
                 <img src="images/image1.jpg">
                </div>
              </div>
            </div>
          
  
        </div>
      </section><!-- #about --> 

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Products</h3>
          <p><b>Our Wide Range of Products</b></p>
        </header>

        <div class="row product-detail">

          <!-- <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" id="product1">
            <a href="1.BriyaniGravy.html">
            <img src="images/ProductImages/1.png"  alt="" class="img-fluid">
          </a>
            <br><br>
            <h4 class="title"><a href="1.BriyaniGravy.html">Biryani Gravy </a></h4>
            
            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='1.BriyaniGravy.html'" type="button" value="More Info" />
           </form>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <a href="2.TandooriMasala.html">
           <img src="images/ProductImages/2.png" alt="" class="img-fluid">
            <br><br>
            <h4 class="title"><a href="2.TandooriMasala.html">Tandoori Masala </a></h4>

            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='2.TandooriMasala.html'" type="button" value="More Info" />
           </form>
            
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <a href="3.OnionBase.html">
           <img src="images/ProductImages/3.png" alt="" class="img-fluid">
            <br><br>
            <h4 class="title"><a href="3.OnionBase.html">Onion Base</a></h4>

            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='3.OnionBase.html'" type="button" value="More Info" />
           </form>
            
          </div>
          
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <a href="4.OnionTomato.html">
            <img src="images/ProductImages/4.png" alt="" class="img-fluid">
            <br><br>
            <h4 class="title"><a href="4.OnionTomato.html">Onion Tomato Masala</a></h4>
            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='4.OnionTomato.html'" type="button" value="More Info" />
           </form>

          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <a href="5.CurryBase.html">
            <img src="images/ProductImages/5.png" alt="" class="img-fluid">
            <br><br>
            <h4 class="title"><a href="5.CurryBase.html">Curry Base </a></h4>

            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='5.CurryBase.html'" type="button" value="More Info" />
           </form>
          </div>


          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <a href="6.GingerPaste.html">
           <img src="images/ProductImages/6.png" alt="" class="img-fluid">
            <br><br>
            <h4 class="title"><a href="6.GingerPaste.html">Ginger Paste </a></h4>

            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='6.GingerPaste.html'" type="button" value="More Info" />
           </form>
          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <a href="7.GingerGarlic.html">
           <img src="images/ProductImages/7.png" alt="" class="img-fluid">
            <br><br>
            <h4 class="title"><a href="7.GingerGarlic.html">Ginger Garlic Paste</a></h4>
            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='7.GingerGarlic.html'" type="button" value="More Info" />
           </form>  

          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <a href="8.RedChilli.html">
            <img src="images/ProductImages/8.png" alt="" class="img-fluid">
            <br><br>
            <h4 class="title"><a href="8.RedChilli.html">Red Chilli Paste </a></h4>
            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='8.RedChilli.html'" type="button" value="More Info" />
           </form>
          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <a href="9.TamarindPaste.html">
            <img src="images/ProductImages/9.png" alt="" class="img-fluid">
            <br><br>
            <h4 class="title"><a href="9.TamarindPaste.html">Tamrind Paste </a></h4>
            <form id="moreinfo">
                <input class="btn btn-success" onclick="window.location.href='9.TamarindPaste.html'" type="button" value="More Info" />
           </form>
          </div> -->

        </div>

      </div>
      <div class="col-md-12 text-center"> 
    <h2> <a href="/products"> More Products</a></h2> 
</div>

    </section><!-- #services -->
    


    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <header class="section-header">
          <h3>Our Recipies</h3>
        </header>

      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="images/portfolio/1.png" class="portfolio-popup">
                <img src="images/portfolio/1.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Achari Tikka Marinade</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="images/portfolio/2.png" class="portfolio-popup">
                <img src="images/portfolio/2.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Chicken Seekh Kebab Marinade</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="images/portfolio/3.png" class="portfolio-popup">
                <img src="images/portfolio/3.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Pav Bhaji Masala</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="images/portfolio/4.png" class="portfolio-popup">
                <img src="images/portfolio/4.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Aaloo Paratha</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="images/portfolio/5.png" class="portfolio-popup">
                <img src="images/portfolio/5.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Pahadi Marinade</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="images/portfolio/6.png" class="portfolio-popup">
                <img src="images/portfolio/6.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Samosa</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="images/portfolio/7.png" class="portfolio-popup">
                <img src="images/portfolio/7.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Biryani Gravy</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="images/portfolio/8.png" class="portfolio-popup">
                <img src="images/portfolio/8.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Butter Chicken Gravy</h2></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->


<!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container" id="trytodo">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              
              <h3>Address</h3>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.9507319575164!2d72.84334981450704!3d19.15363378704348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b65aa3f13103%3A0x32134c26c6031956!2sNAMOSRI+VENTURES+PRIVATE+LIMITED!5e0!3m2!1sen!2sin!4v1527333339413"
              width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
           
              <h3>Join our community:</h3>
              <p>www.delispices.co.in
              www.facebook.com/delispices.in</p>
              <br>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+91 22 4023 0273</a></p>
              <p><a href="tel:+155895548855">+91 80494 40899</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              
              <h3>For any feedback/ complaint, Drop an Email at :</h3>
              <p><a href="mailto:info@example.com">care@namosri.com</a></p>
              <br>
              <h3>We Hire at DeliSpices.<br>For Careers Drop an Email at :</h3>
              <p><a href="mailto:info@example.com">jobs.namosri@gmail.com</a></p>
            </div>
          </div>

        </div>

       

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Deli Spices</h3>
            <p>
              DéliSpices is an effort at recreating the magical taste of Indian cuisines by providing 
              the quintessential ingredient for cooking... 
              high quality spice blends, gravies, pastes, marinades & condiments.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/products">Products</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/aboutus">About US</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              NAMOSRI VENTURES PRIVATE LIMITED
              204 Shivam Chambers
              S.V. Road, Goregaon (West)
              Mumbai – 400062, India.

            </p>

            <div class="social-links">
              <a href="https://www.facebook.com/delispices.in/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Keep me updated with the latest news and inspiration from Déli Spices</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <%include includes/footer.ejs%>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main site/main.js"></script>
  <script src="js/main site/home.js"></script>

</body>
</html>
