<!DOCTYPE html>
<html>
<head>
    <% include includes/externel.ejs %>
  <!-- Main Stylesheet File -->
  <link href="css/style-intro.css" rel="stylesheet">


</head>
<body>
<div class="loader">
      <div class="hourGlass"></div>
    </div>
  <br><br><br>
 

	<!--____________________________NAV_____________________________ -->
    <% include includes/header.ejs %>
  <!-- #nav --> 

    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Products</h3>
                <p><b>Our Wide Range of Products</b></p>
              </header>
      
              <div class="row product-detail">
      
             </div>
             </div>
      </section>
             
      <footer id="footer">
              <%include includes/footer.ejs%>
      </footer><!-- #footer -->



<script src="/js/main site/products.js"></script>


</body>
</html>