<!DOCTYPE html>
<html>
<head>
  
    <% include includes/externel.ejs %>
  <!-- Main Stylesheet File -->
  <link href="css/style-intro.css" rel="stylesheet">


</head>
<body>

	<!--____________________________NAV_____________________________ -->
    <% include includes/header.ejs %>
  <!-- #nav --> 

    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Products</h3>
                <p><b>Our Wide Range of Products</b></p>
              </header>
      
              <div class="row">
      
                        <div class="col-lg-4 col-md-6 box wow bounceInUp product-detail" data-wow-duration="1.4s" id="product1">
                            <!-- <a href="1.BriyaniGravy.html">
                            <img src="images/ProductImages/1.png"  alt="" class="img-fluid">
                          </a>
                            <br><br>
                            <h4 class="title"><a href="1.BriyaniGravy.html">Biryani Gravy </a></h4>
                            
                            <form id="moreinfo">
                                <input class="btn btn-success" onclick="window.location.href='1.BriyaniGravy.html'" type="button" value="More Info" />
                           </form> -->
                          </div>
             </div>
             </div>
             </section>
      <footer id="footer">
            <div class="container">
                    <div class="copyright">
                      &copy; Copyright <strong> 2018 Deli Spices & Namosri</strong>. All Rights Reserved
                      &nbsp;
                      <strong>
                      <a href="statutory.html"> Statutory Information</a>
                      &nbsp;
                      <a href="terms.html">Terms of Site Use</a>
                      &nbsp;
                      <a href="privacy.html">Privacy Policy</a>
                    </strong>
                    </div>
                  </div>
      </footer><!-- #footer -->



<script src="/js/main site/products.js"/>


</body>
</html>