<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DéliSpices</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="images/logo.png" rel="icon">
  <link href="images/logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style-intro.css" rel="stylesheet">


</head>
<body>

	<!--____________________________NAV_____________________________ -->
    <% include includes/header.ejs %>
  <!-- #nav --> 

    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Products</h3>
                <p><b>Our Wide Range of Products</b></p>
              </header>
      
              <div class="row">
      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s" id="product1">
                            <a href="1.BriyaniGravy.html">
                            <img src="images/ProductImages/1.png"  alt="" class="img-fluid">
                          </a>
                            <br><br>
                            <h4 class="title"><a href="1.BriyaniGravy.html">Biryani Gravy </a></h4>
                            
                            <form id="moreinfo">
                                <input class="btn btn-success" onclick="window.location.href='1.BriyaniGravy.html'" type="button" value="More Info" />
                           </form>
                          </div>
                          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                              <a href="2.TandooriMasala.html">
                           <img src="images/ProductImages/2.png" alt="" class="img-fluid">
                            <br><br>
                            <h4 class="title"><a href="2.TandooriMasala.html">Tandoori Masala </a></h4>
                
                            <form id="moreinfo">
                                <input class="btn btn-success" onclick="window.location.href='2.TandooriMasala.html'" type="button" value="More Info" />
                           </form>
                            
                          </div>
                          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                              <a href="3.OnionBase.html">
                           <img src="images/ProductImages/3.png" alt="" class="img-fluid">
                            <br><br>
                            <h4 class="title"><a href="3.OnionBase.html">Onion Base</a></h4>
                
                            <form id="moreinfo">
                                <input class="btn btn-success" onclick="window.location.href='3.OnionBase.html'" type="button" value="More Info" />
                           </form>
                            
                          </div>
                
                <!-- #1,2,3 -->
              
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <a href="4.OnionTomato.html">
              <img src="images/ProductImages/4.png" alt="" class="img-fluid">
              <br><br>
              <h4 class="title"><a href="4.OnionTomato.html">Onion Tomato Masala</a></h4>
              <form id="moreinfo">
                  <input class="btn btn-success" onclick="window.location.href='4.OnionTomato.html'" type="button" value="More Info" />
             </form>
  
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <a href="5.CurryBase.html">
              <img src="images/ProductImages/5.png" alt="" class="img-fluid">
              <br><br>
              <h4 class="title"><a href="5.CurryBase.html">Curry Base </a></h4>
  
              <form id="moreinfo">
                  <input class="btn btn-success" onclick="window.location.href='5.CurryBase.html'" type="button" value="More Info" />
             </form>
            </div>
  
  
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <a href="6.GingerPaste.html">
             <img src="images/ProductImages/6.png" alt="" class="img-fluid">
              <br><br>
              <h4 class="title"><a href="6.GingerPaste.html">Ginger Paste </a></h4>
  
              <form id="moreinfo">
                  <input class="btn btn-success" onclick="window.location.href='6.GingerPaste.html'" type="button" value="More Info" />
             </form>
            </div>
  

                <!-- 4,5,6 -->
                
      
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <a href="7.GingerGarlic.html">
                     <img src="images/ProductImages/7.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="7.GingerGarlic.html">Ginger Garlic Paste</a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='7.GingerGarlic.html'" type="button" value="More Info" />
                     </form>  
          
                    </div>
          
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="8.RedChilli.html">
                      <img src="images/ProductImages/8.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="8.RedChilli.html">Red Chilli Paste </a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='8.RedChilli.html'" type="button" value="More Info" />
                     </form>
                    </div>
          
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="9.TamarindPaste.html">
                      <img src="images/ProductImages/9.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="9.TamarindPaste.html">Tamrind Paste </a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='9.TamarindPaste.html'" type="button" value="More Info" />
                     </form>
                    </div>
                <!-- # 7,8,9 -->
                


                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="10.AchariMarinade.html">
                    <img src="images/ProductImages/10.png" alt="" class="img-fluid">
                    <br><br>
                    <h4 class="title"><a href="10.AchariMarinade.html">Achari Marinade </a></h4>
                    <form id="moreinfo">
                        <input class="btn btn-success" onclick="window.location.href='10.AchariMarinade.html'" type="button" value="More Info" />
                   </form>
                  </div>

                  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="11.TandoriMarinade.html">
                      <img src="images/ProductImages/11.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="11.TandoriMarinade.html">Tandoori Marinade </a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='11.TandoriMarinade.html'" type="button" value="More Info" />
                     </form>
                    </div>

                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="12.TikkaMarinade.html">
                        <img src="images/ProductImages/12.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="12.TikkaMarinade.html">Tikka Marinade </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='12.TikkaMarinade.html'" type="button" value="More Info" />
                       </form>
                      </div>


                <!-- #10,11,12 -->

                
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="13.PahadiMarinade.html">
                    <img src="images/ProductImages/13.png" alt="" class="img-fluid">
                    <br><br>
                    <h4 class="title"><a href="13.PahadiMarinade.html"> Phadi Marinade </a></h4>
                    <form id="moreinfo">
                        <input class="btn btn-success" onclick="window.location.href='13.PahadiMarinade.html'" type="button" value="More Info" />
                   </form>
                  </div>

                  
                  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="14.MalaiMarinade.html">
                      <img src="images/ProductImages/14.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="14.MalaiMarinade.html"> Malai Marinade </a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='14.MalaiMarinade.html'" type="button" value="More Info" />
                     </form>
                    </div>

                    
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="15.BrownGravy.html">
                        <img src="images/ProductImages/15.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="15.BrownGravy.html">Brown Gravy </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='15.BrownGravy.html'" type="button" value="More Info" />
                       </form>
                      </div>


                <!-- #13,14,15 -->
                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="16.MakhaniGravy.html">
                        <img src="images/ProductImages/16.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="16.MakhaniGravy.html">Makhani Gravy </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='16.MakhaniGravy.html'" type="button" value="More Info" />
                       </form>
                      </div>

                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="17.JainChana.html">
                        <img src="images/ProductImages/17.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="17.JainChana.html">Jain Chana Masala Gravy </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='17.JainChana.html'" type="button" value="More Info" />
                       </form>
                      </div>

                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="18.GarlicPaste.html">
                        <img src="images/ProductImages/18.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="18.GarlicPaste.html">Garlic Paste </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='18.GarlicPaste.html'" type="button" value="More Info" />
                       </form>
                      </div>



                <!-- #16,17,18 -->

                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="19.TikkaMasala.html">
                        <img src="images/ProductImages/19.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="19.TikkaMasala.html">Tikka Masala Gravy </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='19.TikkaMasala.html'" type="button" value="More Info" />
                       </form>
                      </div>

                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="20.KolhapuriGravy.html">
                        <img src="images/ProductImages/20.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="20.KolhapuriGravy.html">Kolhapuri Gravy </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='20.KolhapuriGravy.html'" type="button" value="More Info" />
                       </form>
                      </div>

                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="21.KadhaiGravy.html">
                        <img src="images/ProductImages/21.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="21.KadhaiGravy.html">Kadhai Gravy </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='21.KadhaiGravy.html'" type="button" value="More Info" />
                       </form>
                      </div>


                <!-- #19,20,21 -->

                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="22.PavBhaji.html">
                        <img src="images/ProductImages/22.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="22.PavBhaji.html">Pav Bhaji Gravy </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='22.PavBhaji.html'" type="button" value="More Info" />
                       </form>
                      </div>

                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="23.SambharReady.html">
                        <img src="images/ProductImages/23.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="23.SambharReady.html">Sambhar Ready Mix </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='23.SambharReady.html'" type="button" value="More Info" />
                       </form>
                      </div>

                      
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="24.SandwichChutney.html">
                        <img src="images/ProductImages/24.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="24.SandwichChutney.html">Sandwich Chutney </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='24.SandwichChutney.html'" type="button" value="More Info" />
                       </form>
                      </div>

                <!-- #22,23,24 -->

                
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="25.ShreddedMango.html">
                    <img src="images/ProductImages/25.png" alt="" class="img-fluid">
                    <br><br>
                    <h4 class="title"><a href="25.ShreddedMango.html">Shredded Mango Chutney </a></h4>
                    <form id="moreinfo">
                        <input class="btn btn-success" onclick="window.location.href='25.ShreddedMango.html'" type="button" value="More Info" />
                   </form>
                  </div>

                  
                  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="26.KhattiMeethi.html">
                      <img src="images/ProductImages/26.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="26.KhattiMeethi.html">Khatti Meethi Chutney </a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='26.KhattiMeethi.html'" type="button" value="More Info" />
                     </form>
                    </div>

                    
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="27.MintCoriander.html">
                        <img src="images/ProductImages/27.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="27.MintCoriander.html">Mint Coriander Chutney </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='27.MintCoriander.html'" type="button" value="More Info" />
                       </form>
                      </div>


                <!-- #25,26,27 -->

                
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="28.TomatoChutney.html">
                    <img src="images/ProductImages/28.png" alt="" class="img-fluid">
                    <br><br>
                    <h4 class="title"><a href="28.TomatoChutney.html">Tomato Chutney </a></h4>
                    <form id="moreinfo">
                        <input class="btn btn-success" onclick="window.location.href='28.TomatoChutney.html'" type="button" value="More Info" />
                   </form>
                  </div>

                  
                  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="29.PaniPuri.html">
                      <img src="images/ProductImages/29.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="29.PaniPuri.html">Pani Puri Paste </a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='29.PaniPuri.html'" type="button" value="More Info" />
                     </form>
                    </div>

                    
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="30.TeekhiChutney.html">
                        <img src="images/ProductImages/30.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="30.TeekhiChutney.html">Teekhi Chutney for Chat </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='30.TeekhiChutney.html'" type="button" value="More Info" />
                       </form>
                      </div>

                <!-- #28,29,30 -->

                
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="31.GarlicChutney.html">
                    <img src="images/ProductImages/31.png" alt="" class="img-fluid">
                    <br><br>
                    <h4 class="title"><a href="31.GarlicChutney.html"> Garlic Chutney for Chaat</a></h4>
                    <form id="moreinfo">
                        <input class="btn btn-success" onclick="window.location.href='31.GarlicChutney.html'" type="button" value="More Info" />
                   </form>
                  </div>

                  
                  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="32.KhattiMeethi.html">
                      <img src="images/ProductImages/32.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="32.KhattiMeethi.html"> Khatti Meethi Chutney for Chaat </a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='32.KhattiMeethi.html'" type="button" value="More Info" />
                     </form>
                    </div>

                    
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="33.ParathaMix.html">
                        <img src="images/ProductImages/33.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="33.ParathaMix.html"> Paratha Mix </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='33.ParathaMix.html'" type="button" value="More Info" />
                       </form>
                      </div>

                <!-- #31,32,33 -->

                
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="34.MisalGravy.html">
                    <img src="images/ProductImages/34.png" alt="" class="img-fluid">
                    <br><br>
                    <h4 class="title"><a href="34.MisalGravy.html">Misal Gravy </a></h4>
                    <form id="moreinfo">
                        <input class="btn btn-success" onclick="window.location.href='34.MisalGravy.html'" type="button" value="More Info" />
                   </form>
                  </div>

                  
                  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="35.BatataVada.html">
                      <img src="images/ProductImages/35.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="35.BatataVada.html"> Batata Vada Mix </a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='35.BatataVada.html'" type="button" value="More Info" />
                     </form>
                    </div>

                    
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <a href="36.PohaMix.html">
                        <img src="images/ProductImages/36.png" alt="" class="img-fluid">
                        <br><br>
                        <h4 class="title"><a href="36.PohaMix.html">Poha Mix </a></h4>
                        <form id="moreinfo">
                            <input class="btn btn-success" onclick="window.location.href='36.PohaMix.html'" type="button" value="More Info" />
                       </form>
                      </div>

                <!-- #34,35,36 -->

                
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="37.UpmaMix.html">
                    <img src="images/ProductImages/37.png" alt="" class="img-fluid">
                    <br><br>
                    <h4 class="title"><a href="37.UpmaMix.html">Umpa Mix </a></h4>
                    <form id="moreinfo">
                        <input class="btn btn-success" onclick="window.location.href='37.UpmaMix.html'" type="button" value="More Info" />
                   </form>
                  </div>

                  
                  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <a href="38.SamosaMix.html">
                      <img src="images/ProductImages/38.png" alt="" class="img-fluid">
                      <br><br>
                      <h4 class="title"><a href="38.SamosaMix.html">Samosa Mix</a></h4>
                      <form id="moreinfo">
                          <input class="btn btn-success" onclick="window.location.href='38.SamosaMix.html'" type="button" value="More Info" />
                     </form>
                    </div>

                    
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s" id="tryF">
                        <br>
                        <br>
                        <a href="39.ChaatMasala.html">
                      <img src="images/ProductImages/39.png" alt="" >
                        <br><br>
                        <br>
                       
                        <h4><a href="39.ChaatMasala.html">Chaat Masala </a></h4>
                        <form id="moreinfo1">
                            <input class="btn btn-success" onclick="window.location.href='39.ChaatMasala.html'" type="button" value="More Info" />
                       </form>
                      </div>

                <!-- #37,38,39 -->
                
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s" id="lastone">
                        <a href="40.MadrasCurry.html">
                    <img src="images/ProductImages/40.png" alt="" class="img-fluid">
                    <br><br>
                    <h4><a href="40.MadrasCurry.html">Madras Curry Powder </a></h4>
                    <form id="moreinfo2">
                        <input class="btn btn-success" onclick="window.location.href='40.MadrasCurry.html'" type="button" value="More Info" />
                   </form>
                  </div>

                <!-- #40 -->
                

      
              </div>
          
        </div>

  
  

      <footer id="footer">
            <div class="container">
                    <div class="copyright">
                      &copy; Copyright <strong> 2018 Deli Spices & Namosri</strong>. All Rights Reserved
                      &nbsp;
                      <strong>
                      <a href="statutory.html"> Statutory Information</a>
                      &nbsp;
                      <a href="terms.html">Terms of Site Use</a>
                      &nbsp;
                      <a href="privacy.html">Privacy Policy</a>
                    </strong>
                    </div>
                  </div>
      </footer><!-- #footer -->






</body>
</html>