<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
<title>DéliSpices</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="images/logo.png" rel="icon">
<link href="images/logo.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="../lib/animate/animate.min.css" rel="stylesheet">
<link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- Main Stylesheet File -->
  <!-- Main Stylesheet File -->
  <link href="../css/style-product.css" rel="stylesheet">
</head>
<body>

  <!--____________________________NAV_____________________________ -->
  <% include includes/header.ejs %>
  <!-- #nav --> 
  <!--==========================
    PRODUCTS
  ============================-->
<h2 style="display:none;" id="pid"><%=productId %></h2>
  <section id="products">
      <div class="container">
          <header class="section-header">
              <h3 id="productId">Loading...</h3>
            </header>
          <div class="row">
              
              <div class="col-lg-6" id="imgdesc">
                     
                  <img src="images/ProductImages/1.png" id="productImage" class="img-fluid">
              </div>
      
              <div class="col-lg-6" id="description">
                  <h3>Description:</h3>
                  <ul>
                      <li>
                         
                          Déli Spices Biryani Gravy uses choicest Indian spices in this gravy, beautifully enhancing the flavor of the basmati rice, veggies, chicken or mutton.
                         
                      </li>
                      <br>
                      <li>
                         
                          The key to Hyderabad’s fragrant; signature rice dish is to cook the meat and rice in an airtight pot on a very low flame, so the rice absorbs the rich flavours of the meat. 
                         
                      </li>
                      <br>
                      <li>
                           
                           The grains of rice should remain separate and unbroken
                           
                      </li>
                  </ul>
               </div>
          </div>

          <div class="row">
              <div class="col-lg-6" id="quotesection">
                  <h3> Get a Quick Quote</h3>
                  <form>
                      <div class="col-9">
                      <label for="form-group">Mobile Number:</label>
                      <input type="text" id="tf1" class="form-control" placeholder="Enter Mobile">
                      </div>
                      <br>
                      <div class="col-9">
                      <label for="form-group">Full Name:</label>
                      <input type="text" id="tf2" class="form-control" placeholder="Enter Name"> 
                      </div>
                      <br>
                      <div class="col-9">
                      <button type="submit" class="btn btn-success">Get Quote</button>
                      </div>
                  </form>
              </div>
  
              <div class="col-lg-6" id="samplesection">
                   <h3> Request a Free Sample</h3>
                   <form>
                      <div class="col-9">
                      <label for="form-group">Full Name:</label>
                      <input type="text" id="tf3" class="form-control" placeholder="Enter Full Name:">
                      </div>
  
                      <br>
                      <div class="col-9">
                      <label for="form-group">Mobile Number:</label>
                      <input type="text" id="tf4" class="form-control" placeholder="Enter Mobile Number:">
                      </div>
  
                      <br>
  
                      <div class="col-9">
                      <label for="form-group">Address:</label>
                      <br>
                      <textarea class="input1" id="tf5" rows="3" cols="35"></textarea>
                      </div>
                      <br>
  
                      <div class="col-9">
                      <button type="submit" class="btn btn-success">Request Sample</button>
                      </div>
                   </form>
              </div>
            </div>
          <div class="row">
          <div class="col-lg-12">
              
          <h3>Biriani Gravy Recipie: </h3>
          <br>
          <h5> Cooking instructions for Hyderabadi Chicken Biryani </h5>
          <ul>
            <li>
                  Mix 3Kg chicken pieces with 1 kg Hyderabadi Biryani Gravy and 1kg yogurt. Keep aside for 45 minutes.
            </li>

            <li>
                  Heat 100gms ghee in a pan and add contents of the spice pack (supplied separately with this pack of gravy).Add marinated chicken pieces and 2.5 Kg water.
            </li>

            <li>
                    Cook for 10 to 15 minutes on medium heat till tender and gravy thickens.
            </li>

            <li>
                    Cook 1250gm basmati rice in water separately.
            </li>

            <li>
                    Take cooked Rice qty 2500 Gms and make layers of Rice and cooked chicken. 
                 
            </li>

            <li>
                 
                    Pour saffron and milk mix and pure ghee 20 Gms.
                 
            </li>

            <li>
                 
                    Give Dum to the Biryani. 
                 
            </li>

            <li>
                 
                    Garnish with Fresh chopped coriander and Fried onions.
                 
            </li>

          </ul>

          <h5> Cooking instructions for Hyderabadi Mutton Biryani</h5>
          <ul>
            <li>
               
                  Mix 3Kg mutton pieces with 1 kg Hyderabadi Biryani Gravy and 1kg yogurt. Keep aside for 45 minutes.
               
            </li>

            <li>
                 
                    Heat 100gms ghee in a pan and add contents of the spice pack (supplied separately with this pack of gravy).Add marinated mutton pieces and 2.5 Kg water.
                 
            </li>

            <li>
                 
                    Cook for 10 to 15 minutes on medium heat till tender and gravy thickens.
                 
            </li>

            <li>
                 
                    Cook 1250gm basmati rice in water separately.
                 
            </li>

            <li>
                 
                    Take cooked Rice qty 2500 Gms and make layers of Rice and cooked mutton.
                 
            </li>

            <li>
                 
                    Pour saffron and milk mix and pure ghee 20 Gms.
                 
            </li>

            <li>
                 
                    Give Dum to the Biryani. 
                 
            </li>

            <li>
                 
                    Garnish with Fresh chopped coriander and Fried onions.
                 
            </li>

          </ul>


          
          <h5>  Cooking instructions for Vegetable Hyderabadi Biryani</h5>
          <ul>
            <li>
               
                  Heat 80gms ghee in a pan and add contents of the spice pack (supplied separately with this pack of gravy).
               
            </li>

            <li>
                 
                  Add to this 2500g chopped mixed vegetables (such as French beans, carrots, cauliflower, potatoes and green peas), entire content of 1 kg Hyderabadi Biryani Gravy  and 2500 kg water.
                 
            </li>

            <li>
                 
                    Cook for 10 to 15 minutes on medium heat .
                 
            </li>

            <li>
                 
                    Add 400Gms yoghurt and simmer for another 2 minutes on medium heat.
                 
            </li>

            <li>
                 
                    Add some chopped coriander and mint leaves.
                 
            </li>

            <li>
                 
                    Cook 1250gm basmati rice in water separately.Take cooked Rice qty 2500 Gms and make layers of Rice and cooked vegetables.
                 
            </li>

            <li>
                 
                    Give Dum to the Biryani. 
                 
            </li>

            <li>
                 
                    Pour saffron and milk mix and pure ghee 20 Gms.
                 
            </li>

            <li>
                 
                    Give Dum to the Biryani. 
                 
            </li>

            <li>
                 
                    Garnish with Fresh chopped coriander and Fried onions.
                 
            </li>
          </ul>
        
        </div>
      </div>


    </div>
    </section>

    <!-- #Footer -->

   <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong> 2018 Deli Spices & Namosri</strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- #footer -->

  <!-- JavaScript Libraries -->
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/jquery/jquery-migrate.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../lib/easing/easing.min.js"></script>
  <script src="../lib/superfish/hoverIntent.js"></script>
  <script src="../lib/superfish/superfish.min.js"></script>
  <script src="../lib/wow/wow.min.js"></script>
  <script src="../lib/waypoints/waypoints.min.js"></script>
  <script src="../lib/counterup/counterup.min.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../lib/lightbox/js/lightbox.min.js"></script>
  <script src="../lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../js/main site/main.js"></script>
  <script src="../js/main site/singleProduct.js"></script>

</body>
</html>
