<!DOCTYPE html>
<html>
<head>
  <%include includes/externel.ejs%>
  <!-- Main Stylesheet File -->
  <link href="css/style-intro.css" rel="stylesheet">


</head>
<body>
<br><br><br>
	<!--____________________________NAV_____________________________ -->
  <%include includes/header.ejs%>

 <section id="statutory">
        <br>
        <br>
  <div class="container">
    <div class="row">
    <div class="col-lg-12">

        <p>
                Namosri Ventures Pvt. Ltd. is subject to the Information Technology Act 2000 (the "Act") and subordinate legislation. The following statement outlines how Namosri Ventures manages personal data that it holds about individuals in accordance with the Act. This website ("our site") is operated by: 
        </p>

        <p>
                Namosri Ventures Pvt. Ltd.  
                <br>
                (CIN: U15122MH2003PTC138773)
                <br>
                204, Shivam Chambers, 
                <br>
                S.V. Road, Goregaon (W), 
                <br>
                Mumbai – 400062, India
                <br>
                Tel: +91 22 4023 0273
                <br>
                Company’s GST: 27AAECA4341H1ZW
                
        </p>


        </div>
     </div>
    </div>
    <br><br><br><br><br><br><br><br>
</section>


<footer id="footer">
  <%include includes/footer.ejs%>
    </footer><!-- #footer -->



</body>
</html>