<!DOCTYPE html>
<html>
<head>
  <%include includes/externel.ejs%>
  <!-- Main Stylesheet File -->
  <link href="css/style-intro.css" rel="stylesheet">


</head>
<body><br><br><br>

	<!--____________________________NAV_____________________________ -->
  <%include includes/header.ejs%>
 <section id="statutory">
        <br>
        <br>
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
            
                    

        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong>Terms of Site Use</strong></p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">This website ("our site") is operated by Namosri Ventures Pvt. Ltd., (registered in India with company identification number U15122MH2003PTC138773 and registered address 204, Shivam Chambers, S.V. Road, Goregaon (West), Mumbai &ndash; 400062, India).</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">All references to 'our', 'us', 'we', 'company' or &ldquo;Namosri Ventures&rdquo; within these terms are deemed to refer to Namosri Ventures Pvt. Ltd., its subsidiaries, affiliates and associates. Please see for further statutory information.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">This page (together with the documents referred to on it) tells you the terms of use on which you may make use of our site, whether as a guest or a registered user and any products, software, services and apps provided to you or from our site (collectively known as the &ldquo;services&rdquo;).</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">The Terms form a legally binding agreement between you and us.&nbsp; Please read these terms of use carefully before you start to use the site.&nbsp; Your legal agreement is made of these terms of use, the privacy policy and the acceptable use policy (collectively called the Terms).</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Permission to access and use this site and its services is granted subject to your acceptance of the Terms.&nbsp; By using our site or any of the Services, you indicate that you accept these Terms and that you agree to abide by them. If you do not agree to these Terms, please refrain from accessing and using our site and services.&nbsp; The Terms apply to all users of our site including users who also contribute video or photographic content, information and other materials or services to the site.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You may not use the site or the Services and may not accept the Terms if (a) you are not of legal age to form a binding contract (unless otherwise clearly specified in writing), or (b) you are a person who is either barred or otherwise legally prohibited from receiving or using the Services under the laws of the country in which you are resident or from which you access or use the Services.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You should print off or save a local copy of the Terms for your records.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Accessing our site</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Access to our site is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our site without notice (see below). We will not be liable if for any reason our site is unavailable at any time or for any period.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">From time to time, we may restrict access to some parts of our site, or our entire site, to users who have registered with us.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">When using our site, you must comply with the provisions of our acceptable use policy.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You are responsible for making all arrangements necessary for you to have access to our site.&nbsp; You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms, and that they comply with them.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Reliance on information posted</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Commentary and other materials posted on our site are not intended to amount to advice on which reliance should be placed.&nbsp; We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If you access this our site from outside the India, no representation or warranty is made as to whether the information available in this our site complies with the regulatory regimes of your country of access.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Our site changes regularly</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We aim to update our site regularly, and may change the content at any time. If the need arises, we may suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at any given time, and we are under no obligation to update such material.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Exclusion of Warranties</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">The material displayed on our site and the Services are provided &ldquo;as is&rdquo; and without any guarantees, conditions or warranties as to its accuracy.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">In particular we do not represent or warrant to you that:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">your use of the site or Services will be uninterrupted, timely, secure or free from error,</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">any information obtained by you as a result of your use of the site or Services will be accurate or reliable, and</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">that defects in the operation or functionality of any software provided to you as part of the site or Services will be corrected.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Our liability</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">To the extent permitted by law, we, other members of our group of companies and third parties connected to us hereby expressly exclude:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any sites linked to it and any materials posted on it, including, without limitation any liability for:</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">loss of income or revenue;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">loss of business;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">loss of profits or contracts;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">loss of anticipated savings;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">loss of data;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">loss of goodwill;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">wasted management or office time; and</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Nothing in the Terms shall affect any statutory rights which you are entitled to as a consumer and that you cannot contractually agree to alter or waive.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Information about you and your visits to our site</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We process information about you in accordance with our privacy policy.&nbsp; By using our site, you consent to such processing and you warrant that all data provided by you is accurate.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Uploading material to our site</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Whenever you make use of a feature that allows you to upload material to our site, or to make contact with other users of our site, you must comply with the content standards set out in our acceptable use policy. You warrant that any such contribution does comply with those standards, and you indemnify us for any breach of that warranty.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Any material you upload to our site will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such material for any purpose and where specifically stated assign all rights to such uploaded material. We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of our site.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We have the right to remove any material or posting you make on our site if, in our opinion, such material does not comply with the content standards set out in our acceptable use policy.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You retain all of your ownership rights in any videos, pictures, and text you post (your Submissions), but you are required to grant limited licence rights to us and other site users (see &ldquo;Rights you licence &ldquo; below)</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You understand and agree that you are solely responsible for your own Submissions and the consequences of posting or publishing them. Unless clearly indicated otherwise we do not endorse any&nbsp; Submission you post or any opinion, recommendation, or advice expressed therein, and we expressly disclaim any and all liability in connection with your Submissions.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You represent and warrant that you have (and will continue to have during your use of the Services) all necessary licenses, rights, consents, and permissions which are required to enable us to use your Submissions for the purposes of the provision of the services, and otherwise to use your Submissions in the manner contemplated by the site and these Terms.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Rights you licence</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">When you upload or post a Submission to the site, you grant:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">us a worldwide, non-exclusive, royalty-free, transferable licence (with right to sub-licence) to use, reproduce, distribute, prepare derivative works of, display, and perform that submission in connection with the provision of the Services, including without limitation for promoting and redistributing part or all of the site (and derivative works thereof) in any media formats and through any media channels;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">to each user of the site, a worldwide, non-exclusive, royalty-free, licence to access your User Submissions through the Website, and to use, reproduce, distribute, prepare derivative works of, display and perform such User Submissions to the extent permitted by the functionality of the Website and under these Terms.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">The above licenses granted by you are irrevocable unless the site provides you with functionality to remove or delete your submissions from the site, in which case the above licenses granted by you are terminated when you remove or delete such submission.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Viruses, hacking and other offences</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">By breaching this provision, you would commit a criminal offence under the Information Technology Act 2000. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any material posted on it, or on any site linked to it.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Linking to our site</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Unless we clearly indicate on our site or you have our specific prior written permission</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <ol>
        <li style="margin-bottom: .0001pt; line-height: normal;">You may only link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">You must not establish a link from any site that is not owned by you.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page. We reserve the right to withdraw linking permission without notice. The site from which you are linking must comply in all respects with the content standards set out in our acceptable use policy.</li>
        </ol>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If you wish to make any use of material on our site other than that set out above, please complete our Contact Form.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Links from our site</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only.&nbsp; We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them or for the content, privacy policies or practices of any third party web sites or services.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You acknowledge and agree that we are not responsible for the availability of any such external sites or resources, and do not endorse any advertising, products or other materials on or available from such web sites or resources.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You acknowledge and agree that we are not liable for any loss or damage which may be incurred by you as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such web sites or resources.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We encourage you to be aware when you leave our site and to read the terms and conditions and privacy policy of each other site that you visit.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Closing your account with us</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Where our site contains interactive facilities you may be given the opportunity to open an account with us.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">The Terms will continue to apply until terminated by either you or Namosri Ventures Pvt. Ltd. as set out below.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If you want to terminate your account with us, you may do so by (a) notifying us at any time. Your notice should be sent, in writing, to our address which is set out at the beginning of these Terms.&nbsp; On receipt of your notice we shall close your account.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may at any time, terminate our legal agreement with you if:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">you have breached any provision of the Terms (or have acted in manner which clearly shows that you do not intend to, or are unable to comply with the provisions of the Terms); or</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">we are required to do so by law (for example, where the provision of the Services to you is, or becomes, unlawful); or</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">we are transitioning to no longer providing the Services to users in the country in which you are resident or from which you use the Services; or</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">the provision of the Services to you by us is, in our opinion, no longer commercially viable.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">When these Terms come to an end, all of the legal rights, obligations and liabilities that you and We have benefited from, been subject to (or which have accrued over time whilst the Terms have been in force) or which are expressed to continue indefinitely, shall be unaffected by this cessation, and the provisions of paragraph 16.6 shall continue to apply to such rights, obligations and liabilities indefinitely.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Copyright, Trade Marks and Intellectual Property</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We are the owner or the licensee of all intellectual property rights in our site, and in all the material published on it, including without limitation all trade marks, names and logos.&nbsp; These works are protected by intellectual property rights laws and treaties around the world.&nbsp; All such rights are reserved. Nothing on this site should be considered to be granting a licence to use any of the above mentioned rights without our express written consent.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Visitors to our site shall not:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">copy, reproduce, republish, download, distribute, display, sell, license, post, broadcast, transmit, distribute, store or otherwise use or exploit the material on our site or our site itself (a) for any commercial purpose; (b) for incorporation in any other work or material whether in hard copy or electronic or any other form; (c) to make them appear part of any third party's site or electronic database or retrieval system; or (d) in any other way or purpose whatsoever except for viewing, printing or saving a back-up copy to your local hard disk for your own personal, non-commercial use;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">use our site or the material on our site in any other way without our prior written permission;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">or do anything which causes damage to our site.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way.&nbsp; You must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Our status (and that of any identified contributors) as the authors of material on our site must always be acknowledged.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You must not use any part of the materials on our site for commercial or political purposes without obtaining express written consent to do so from us or our licensors.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Waiver</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You agree that if we do not exercise or enforce any legal right or remedy contained in these Terms), this will not be taken to be a formal waiver of our rights and that those rights or remedies will still be available to us.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Assignment</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">The Contract is between the Company and the Customer as principals and under no circumstances shall the Customer assign the benefit or burden of it without the prior written consent of the Company.&nbsp; The Company shall be entitled to assign or sub-contract the whole or part of its obligations under the Contract.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Severability</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">In the event of any provision of these Terms being or becoming void in whole or in part the other provisions of these Terms shall remain fully valid and enforceable and void provisions shall, where appropriate, be replaced in accordance with the meaning and purpose of these Conditions.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Third party rights</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You acknowledge and agree that each member of the group of companies of which Namosri Ventures Pvt. Ltd. is a part shall be third party beneficiaries to the Terms and that such other companies shall be entitled to directly enforce, and rely upon, any provision of the Terms which confers a benefit on (or rights in favour of) them. Other than this, no other person or company shall be a third party beneficiary of the Terms or any rights&nbsp; pursuant to the Contract.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">General</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">All references to any statute or statutory provision shall be deemed to include references to any statute or statutory provision which amends, extends, consolidates or replaces the same.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Entire Agreement</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">The Terms constitute the whole legal agreement between you and us and govern your use of the site and Services and completely replace any prior agreements between you and us in relation to the site and Services.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Variations</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site.&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You understand and agree that if you use the site or Services after the date on which the Terms have changed, we will treat your use as acceptance of the updated terms.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Jurisdiction and applicable law</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of India. Notwithstanding this, you agree that we shall still be permitted to apply for injunctive remedies (or other equivalent types of urgent legal remedy) in any jurisdiction.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Your concerns</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If you have any concerns about material which appears on our site, please complete our Contact Us form.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Thank you for visiting our site.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong>Privacy Policy</strong></p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><strong>&nbsp;</strong></p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><strong>Effective February 4th, 2015</strong></p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Namosri Ventures Pvt. Ltd. is subject to the Information Technology Act 2000 (the "Act") and subordinate legislation. The following statement outlines how Namosri Ventures manages personal data that it holds about individuals in accordance with the Act.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">This website ("our site") is operated by Namosri Ventures Pvt. Ltd., (registered in India with company identification number U15122MH2003PTC138773 and registered address 204, Shivam Chambers, S.V. Road, Goregaon (West), Mumbai &ndash; 400062, India).<br />All references to 'our', 'us', 'we', 'company' or "Namosri Ventures" within this policy are deemed to refer to Namosri Ventures Pvt. Ltd., its subsidiaries, affiliates and associates.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Namosri Ventures is committed to protecting and respecting your privacy. This Privacy Policy together with our&nbsp;Terms of Use&nbsp;sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Information we may collect from you</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may collect and process the following data about you either when you register with or use our site or otherwise contact us:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">When you contribute, or upload any information, to the Site, we will store such information for the purpose of providing the Site.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Information that you provide by filling in forms on our site or when you contribute, or upload any information, to our site.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">This includes information provided at the time of registering to use our site, subscribing to our service, posting material,&nbsp;information collected by cookies&nbsp;requesting further services or contacting us e.g. through the "Contact us" section of the site. We may also ask you for information when you enter a competition or promotion sponsored by us, and when you report a problem with our site.</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">If you contact us, we may keep a record of that correspondence.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">We may also ask you to complete surveys that we use for research purposes, although you do not have to respond to them.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Details of transactions you carry out through our site and of the fulfilment of your orders.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Details of your visits to our site including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">In addition, we may collect personal information in the form of CVs and job applications. This information will only be used for recruitment purposes and will not otherwise be used in the ways described in this Privacy Policy.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">If you provide us with information about another person, you confirm that they have appointed you to act for them, to consent to the processing of their personal data and that you have informed them of our identity and the purposes for which their personal data will be processed.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">The Namosri Ventures Group of companies makes many well known brands. We may collate any information about you which is provided to any of our brands.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may use cookies on the Site. When you logged in for the first time after 1 February 2015 you should have seen a notice informing you of what cookies were on the Site. For more information on what cookies are and how they can be used please see the&nbsp;Cookies section&nbsp;below.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Under the Data Protection Act you have the right as an individual to find out what personal information we hold about you and to request that we correct any errors in your personal information. Any access request may be subject to a fee of INR 850 to meet our costs in providing you with details of the information we hold about you. Also, you may request that we do not use your personal information. Should you wish to exercise these rights please complete our&nbsp;Contact Us form.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">IP Addresses and Cookies</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may collect information about your computer, including where available your IP address, operating system and browser type, for system administration and to report aggregate information within Namosri Ventures' group of companies and to selected third parties. This is statistical data about our users' browsing actions and patterns, and does not identify any individual.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">For the same reason, we may obtain information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer's hard drive. They help us to improve our site and to deliver a better and more personalised service. They enable us:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To estimate our audience size and usage pattern.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To store information about your preferences, and so allow us to customise our site according to your individual interests.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To speed up your searches.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To recognise you when you return to our site.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">You may at any time delete these cookies from your computer or adjust your browser settings to reject or disable cookies. However, if you select this setting you may be unable to access certain parts of our site. Unless you have adjusted your browser settings to reject cookies ,our system may issue cookies when you log on to our site.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Please note that our site may contain links to adverts and links to websites operated by third parties. These third parties and advertisers may also use cookies, over which we have no control.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">What types of cookies are there and what do they do?</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Before we explain what cookies are we need to explain what a few commonly used terms mean:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Affiliate&nbsp;- an affiliate is a website operator who can send traffic to a website using links from another website. The affiliate may be paid an agreed commission from the referral.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">First and third-party cookies&nbsp;- whether a cookie is &lsquo;first' or &lsquo;third' party refers to the domain placing the cookie. First-party cookies are those set by a website that is being visited by the user at the time - the website displayed in the URL window.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Third-party cookies are cookies that are set by a domain other than that of the website being visited by the user. If a user visits a website and another entity sets a cookie through that website this would be a third-party cookie.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Persistent cookies&nbsp;- these cookies remain on a user's device for the period of time specified in the cookie. They are activated each time that the user visits the website that created that particular cookie.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Session cookies&nbsp;- these cookies allow website operators to link the actions of a user during a browser session. A browser session starts when a user opens the browser window and finishes when they close the browser window. Session cookies are created temporarily. Once you close the browser, all session cookies are deleted</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">There are four main categories of cookies:</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Category 1: strictly necessary cookies</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These cookies are essential for the running of a website e.g. a cookie that remembers what you've put into a shopping basket.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><em>Tell me more</em></p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Generally these cookies will be essential first-party session cookies, and if persistent or third party, there should be a good justification for this. Strictly necessary cookies will generally be used to store a unique identifier to manage and identify the user as unique to other users currently viewing the website, in order to provide a consistent and accurate service to the user. Examples include:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Remembering previous actions (e.g. entered text) when navigating back to a page in the same session.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Managing and passing security tokens to different services within a website to identify the visitor's status (e.g. logged in or not)</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To maintain tokens for the implementation of secure areas of the website</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To route customers to specific versions/applications of a service, such as might be used during a technical migration</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">These cookies will not be used</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To gather information that could be used for marketing to the user.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To remember customer preferences or user ID's outside a single session (unless the user has requested this function).</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">Category 2: performance cookies</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These cookies only collect information about website usage for the benefit of the website operator. We use them to ensure our site is working as well as possible, for example, if there's are really popular page then we may try to provider users with more of that sort of information.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">By using our website or our online services, you agree that we can place these types of cookies on your device</p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><em>Tell me more</em></p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These cookies can be first or third party, session or persistent cookies. To fall within this category their usage should be limited to performance and website improvement.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Examples include:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Web analytics - where the data collected is limited to the website operator's use only, for managing the performance and design of the site. These cookies can be third-party cookies but the information must be for the exclusive use of the publisher of the website visited. This is the type of cookie that you are most likely to be asked asked to accept before using a Namosri Ventures' Site.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Ad response rates - where the data is used exclusively for calculating response rates (click-through rates) to improve the effectiveness of advertising purchased on a site external to the destination website.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Affiliate tracking - where the cookie is used to let affiliates know that a visitor to a site visited a partner site some time later and if that visit resulted in the use or purchase of a product or service, including details of the product and service purchased. Affiliate tracking cookies allow the affiliate to improve the effectiveness of their site.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Error management - Measuring errors presented on a website, typically this will be to support service improvement or complaint management and will generally be closely linked with web analytics.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Testing designs - Testing variations of design, typically using A/B or multivariate testing, to ensure a consistent look and feel is maintained for the user of the site in the current and subsequent sessions.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">Category 3: functionality cookies</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These cookies are site specific and are linked to user choices for using that site, for example, language choices.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">By using our website or our online services, you agree that we can place these types of cookies on your device</p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><em>Tell me more</em></p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These cookies can be first party, third party, session or persistent cookies. These cookies will typically be the result of a user action, but might also be implemented in the delivery of a service not explicitly requested but offered to the user. They can also be used to prevent the user being offered a service again that had previously been offered to that user and rejected.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Examples include:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Remembering settings a user has applied to a website such as layout, font size, preferences, colours etc.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Remembering a choice such as not to be asked again to fill in a questionnaire.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Detecting if a service has already been offered, such as offering a tutorial on future visits to the website.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Providing information to allow an optional service to function such as offering a live chat session.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Fulfilling a request by the user such as submitting a comment.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">Category 4: targeting cookies or advertising cookies</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These cookies contain a unique key that is able to distinguish individual users' browsing habits or store a code that can be translated into to a set of browsing habits or preferences using information stored elsewhere, for example an online retailer could analyse your previous purchases and make suggestions based on what other purchasers of the same goods bought. Similarly, they can be used by third parties e.g. market analysts to build up a picture of your favourite sites, so they can target more relevant promotions to you. They often link to sites run by different companies e.g. if you have been shown an advert on one social networking site, the cookie may prevent the same advert being shown again on a different website.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These cookies collect the most information about users, so where the website operator is responsible for setting a targeting or advertising cookie it is important to obtain a clear informed consent from the user to their use.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We will always make it very clear if we use one of these cookies on a Site and ask you for your consent before a cookie of this nature is placed on your computer.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Examples include:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Cookies placed by advertising networks to collect browsing habits in order to target relevant adverts to the user. The site the user is visiting need not actually be serving adverts, but often this will also be the case.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Cookies placed by advertising networks in conjunction with a service implemented by the website to increase functionality, such as commenting on a blog, adding a site to the user's social network, providing maps or counters of visitors to a site.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">Any cookie used to re-target adverts.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">Removing and controlling cookies:</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You can restrict or block the cookies set by a website through your browser settings. The Help function within your browser should tell you how.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Alternatively, you may wish to visit&nbsp;<a href="http://www.aboutcookies.org/">www.aboutcookies.org</a>&nbsp;which contains comprehensive information on how to do this on a wide variety of browsers. You will also find details on how to delete cookies from your computer as well as more general information about cookies.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">For information on how to do this on the browser of your mobile phone you will need to refer to your handset manual.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Where we store your personal data</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">The data that we collect from you may be transferred to, and stored at, a destination. It may also be processed by staff who work for us or for one of our suppliers. Such staff maybe engaged in, among other things, the management of our ranking systems, the analysis of aggregated data, the fulfilment of your order, the processing of your payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">All information you provide to us is stored on our, or our supplier's secure servers. Any payment transactions will be encrypted.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Uses made of the information</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We will also use information held about you in the following ways:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To ensure that content from our site is presented in the most effective manner for you and for your computer.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To carry out our obligations arising from any contracts entered into between you and us;</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To allow you to participate in interactive features of our site, when you choose to do so;</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">to monitor your use of the site;</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">to aggregate statistics about users, traffic patterns and related site information in an anonymous form.; and</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">To notify you about changes to our service and our site.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may also use your data, or permit selected third parties to use your data, to provide you with information about goods and services which may be of interest to you and we or they may contact you about these by email, post or telephone, only if you have consented to this.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">When you provide us with information regarding another individual, such as when you request that we send someone information from our site, we will only send that individual the information that you specifically requested that we send. We will not send them additional communications based on you providing us with their information.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If you do not want us to use your data in this way, or to pass your details on to third parties for marketing purposes, please tick the relevant box situated on the form on which we collect your data (for example, a competition entry form, order form or registration form). If at any time you wish to opt out of receiving such information from us please use theContact Us form.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We do not disclose information about identifiable individuals to third parties, unless you have consented to this, but we may provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on a particular part of our site on any given day). We may also use such aggregate information to help other parts of the Namosri Ventures Group and selected third parties reach the kind of audience they want to target. We may make use of the personal data we have collected from you to enable us to comply with the selected third parties, including any advertisers', wishes, for example by displaying an advertisement to its target audience.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Disclosure of your information</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We value your personal information and only share such information with third parties that provide adequate protection for such information.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may also disclose your personal information to third parties:</p>
        <ul style="margin-top: 0in;">
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">to carry out the uses of your information set out above on our behalf. We shall ensure that such parties keep your information confidential and do not use your information for any purpose other than permitted under this Agreement.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">in the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets.</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">If Namosri Ventures Group or a substantial part of its assets (for example, one or more of the Namosri Ventures Group's brands) are acquired by a third party, in which case personal data held by it about its users and customers will be one of the transferred assets; or</li>
        <li style="margin-bottom: .0001pt; line-height: normal; tab-stops: list .5in;">If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our&nbsp;<a href="http://www.premierfoods.co.uk/terms-of-site-use.cfm">terms of use</a>&nbsp;and other agreements; or to protect the rights, property, or safety of Namosri Ventures Group, our customers, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection, age and identity verification. and credit risk reduction.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">Public (or Interactive) areas of our sites</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Information that you post on or through the public areas of the site (e.g. bulletin boards, blogs and discussion groups) are generally accessible to, and may be collected and used by, others and may result in unsolicited messages or other contact from others. You should not provide personal information about yourself in public (or interactive) areas of the site. Such personal information is not covered under this Privacy Statement and shall not be treated as confidential.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Uploading Information</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Whenever you make use of a feature that allows you to upload information to the Site, or to make contact with other registered users of the Site, you must comply with the content standards set out in our site Terms, including the Acceptable Use Policy. You warrant that any such contribution does comply with those standards, and you indemnify us for any breach of that warranty.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">In providing or uploading information to the site you grant us the right to use, copy, distribute and disclose to third parties any such information for the purposes set out in the Site Terms and Conditions.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If at any time you wish to leave the site, you can notify us by completing our&nbsp;Contact Us form. On receiving your notification and on receipt of a request from you to so, we will use reasonable endeavours to remove from the Site all information provided by you. We reserve the right to retain copies of any information that you provide for record keeping purposes and compliance with our legal obligations.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to the Site constitutes a violation of their intellectual property rights, or of their right to privacy.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We will not be responsible, or liable to any third party, for the content or accuracy of information provided or uploaded to the Site by you or any other user of the Site.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We have the right to remove any information you provide or upload to the Site if, in our opinion, such material does not comply with our acceptable use requirements set out in our Site Terms and Conditions.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You will be truthful and accurate in any information that you contribute or upload to the Site.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Your Rights</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting customer services.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Changes to our privacy policy</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Contact</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Questions, comments and requests regarding this privacy policy are welcomed and should be directed to Customer Services via our&nbsp;Contact Us form.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><strong>Acceptable Use Policy</strong></p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Namosri Ventures Pvt. Ltd. is subject to the Information Technology Act 2000 (the "Act") and subordinate legislation. The following statement outlines how Namosri Ventures manages personal data that it holds about individuals in accordance with the Act.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">This website ("our site") is operated by Namosri Ventures Pvt. Ltd., (registered in India with company identification number U15122MH2003PTC138773 and registered address 204, Shivam Chambers, S.V. Road, Goregaon (West), Mumbai &ndash; 400062, India).<br />All references to 'our', 'us', 'we', 'company' or "Namosri Ventures" within this policy are deemed to refer to Namosri Ventures Pvt. Ltd., its subsidiaries, affiliates and associates.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">This acceptable use policy sets out the terms between you and us under which you may access our This acceptable use policy applies to all users of, and visitors to, our site.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Your use of our site means that you accept, and agree to abide by, all the policies in this acceptable use policy, which supplement our terms of site use.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Prohibited Uses</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You may use our site only for lawful purposes. &nbsp;You may not use our site:</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">In any way that breaches any applicable local, national or international law or regulation.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">For the purpose of harming or attempting to harm minors in any way.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">For any Commercial Use without our prior written consent.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">To send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards (see below).</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">To knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You also agree:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">Not to reproduce, distribute, duplicate, copy or re-sell any part or parts of our site in contravention of the provisions of our terms of site use unless you are given specific uncontrovertible consent to do this in relation to specific content on the site.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Not to access without authority, interfere with, alter, modify, damage or disrupt:</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">any part of our site;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">any equipment or network on which our site is stored;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">any software used in the provision of our site; or</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">any equipment or network or software owned or used by any third party.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">not to (or attempt to) circumvent, disable or otherwise interfere with any security related features of the Website or features that (i) prevent or restrict use or copying of any Contributions or content or (ii) enforce limitations on use of the site or the content accessible on the site;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">not to collect or harvest any personal data of any user of the site or any service (and agree that this shall be deemed to include account names);</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">not to use the site and the services (including the comments and email features in the Website) for the solicitation of business in the course of trade or in connection with a commercial enterprise;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">not to solicit, for commercial purposes, any users of the site</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We grant the operators of public search engines permission to use spiders to copy materials from the site for the sole purpose of creating publicly available searchable indices of the materials, but not caches or archives of such materials. We reserve the right to revoke these exceptions either generally or in specific cases.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Interactive Services</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may from time to time provide interactive services on our site, including, without limitation:</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">Chat rooms.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Bulletin boards.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Blogs</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">links to Social Networking Sites, such as Facebook, You Tube, Twitter</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Uploads to embedded video sites</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">User contributions</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Apps</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Interactive tools</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Rating services</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Where we do provide any interactive service, we will provide clear information to you about the kind of service offered, if it is moderated and what form of moderation is used (including whether it is human or technical).</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We will do our best to assess any possible risks for users (and in particular, for children) from third parties when they use any interactive service provided on our site, and we will decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of those risks. However, we are under no obligation to oversee, monitor or moderate any interactive service we provide on our site, and we expressly exclude our liability for any loss or damage arising from the use of any interactive service by a user in contravention of our content standards, whether the service is moderated or not.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">The use of any of our interactive services by a minor is subject to the consent of their parent or guardian. We advise parents who permit their children to use an interactive service that it is important that they communicate with their children about their safety online, as moderation is not foolproof. Minors who are using any interactive service should be made aware of the potential risks to them.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Where we do moderate an interactive service, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise, such as contact details for Customer Services.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We do not guarantee any confidentiality with respect to any contributions you make.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Content Standards</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">These content standards apply to any and all material which you contribute to our site (contributions), and to any interactive services associated with it.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any contribution as well as to its whole.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Contributions must:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">Be accurate (where they state facts).</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Be genuinely held (where they state opinions).</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Comply with applicable law in the India and in any country from which they are posted.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">Contributions must not:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">Contain any material which is defamatory of any person.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Contain any material which is obscene, offensive, hateful or inflammatory.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Promote sexually explicit material.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Promote violence.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Infringe any copyright, database right, trade mark or other applicable intellectual property rights of any other person.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Be likely to deceive any person.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Promote any illegal activity.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Be likely to harass, upset, embarrass, alarm or annoy any other person.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Be used to impersonate any person, or to misrepresent your identity or affiliation with any person.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Give the impression that they emanate from us, if this is not the case.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Suspension and Termination</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We will determine, in our discretion, whether there has been a breach of this acceptable use policy through your use of our site.&nbsp; When a breach of this policy has occurred, we may take such action as we deem appropriate.&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Failure to comply with this acceptable use policy constitutes a material breach of the terms of use upon which you are permitted to use our site, and may result in our taking all or any of the following actions:</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">Immediate, temporary or permanent withdrawal of your right to use our site.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Immediate, temporary or permanent removal of any posting or material uploaded by you to our site.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Issue of a warning to you.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Further legal action against you.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">Disclosure of such information to law enforcement authorities as we reasonably feel is necessary.</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">So far as legally possible we exclude liability for actions taken in response to breaches of this acceptable use policy. The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">This does not include or limit in any way our liability:</p>
        <ul>
        <li style="margin-bottom: .0001pt; line-height: normal;">For death or personal injury caused by our negligence;</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">For fraud or fraudulent misrepresentation; or</li>
        <li style="margin-bottom: .0001pt; line-height: normal;">For any matter for which it would be illegal for us to exclude, or attempt to exclude, our liability.</li>
        </ul>
        <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">Changes to the Acceptable Use Policy</p>
        <p style="margin-bottom: .0001pt; line-height: normal;">We may revise this acceptable use policy at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we make, as they are legally binding on you. Some of the provisions contained in this acceptable use policy may also be superseded by provisions or notices published elsewhere on our site.</p>
        <p style="margin-bottom: .0001pt; line-height: normal;"><strong>&nbsp;</strong></p>
        <p style="margin-bottom: .0001pt; text-align: justify; line-height: normal;">&nbsp;</p>


        </div>
     </div>
    </div>
</section>


<footer id="footer">
<%include includes/footer.ejs%>
    </footer><!-- #footer -->



</body>
</html>