/* .input-field{
    background-color: #379683;
    padding: 10px;
} */

*{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    color: #66fcf1;
}

.input-field label{
    color: #ffffff;
}

.btn{
    background-color: #45a292;
}