/* .input-field{
    background-color: #379683;
    padding: 10px;
} */

*{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    color: #ffffff;
}

.input-field label{
    color: #ffffff;
}

.btn{
    background-color: #45a292;
}

.container {
	padding-top: 50px;
	padding-bottom: 50px;
}